.bg-danger{
    background: #f5511e !important;
}
#banner img{
    width: 100%;
    height: 400px;
}
.text-danger{
    color:#f5511e !important
}
#news img{
    height: 250px;
    width: 100%;
}